@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,700');

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  // font-feature-settings: "kern" 1, "liga" 1, "swsh" 1;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  color: #212529;
}

h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  font-weight: 600;
}

strong {
  font-weight: 600;
  color: #ced4da;
}

pre {
  margin: 0;
  width: 100%;
  padding: 0;
  white-space: pre-wrap;
}
code {
  font-family: Consolas, "Courier New", monospace;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  width: 100%;
  background: #343a40;
  // border-radius: 0.5rem;
  text-align: center;
  display: block;
  padding: 1rem;
  color: #ced4da;
  overflow: auto;

  .keyword {
    color: #20c997;
  }

  .string {
    color: #a3daff;
  }

  .symbol {
    color: #868e96;
  }

  .variable {
    color: #ced4da;
  }

  .property {
    color: #ff8787;
  }

}

.alpine-green {
  color: #087f5b;
}

#intro {
  width: 100%;
  min-height: 40rem;
  padding: 0 10rem 0 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 3.8rem;
    line-height: 7rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
  }

  p {
    color: #868e96;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
  }

  .gh-icon {
    margin-top: 2rem;
    fill: #212529;
  }

  .subtext {
    font-weight: 300;
  }

  .divider {
    color: #868e96;
  }
}

#install {
  width: 100%;
  padding: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212529;
  color: #f8f9fa;
  text-align: center;

  .content {
    width: 57rem;
    line-height: 2rem;
  }
}

#instructions {
  width: 100%;
  padding: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #343a40;
  color: #f8f9fa;
  text-align: center;
  margin-top: -0.04rem;

  p {
    color: #adb5bd;
  }

  code {
    background: #212529;
    text-align: left;
  }

  h3, h4 {
    color: #ced4da;
    text-transform: none;
    margin-bottom: initial;
  }

  .content {
    width: 57rem;
    line-height: 2rem;
  }
}

#demo {
  width: 100%;
  padding: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f9fa;
  color: #212529;
  text-align: center;

  .content {
    width: 57rem;
    line-height: 2rem;
  }

  ul {
    list-style: none;
    margin: 1rem 0rem;
    padding: 0;

    li {
      display: inline;
      margin: 0.5rem;
      cursor: pointer;
    }
  }

  .browser-window {
    width: 100%;
    background: #FFF;
    border-radius: 0.5rem;
    border: 1px solid #ced4da;
  }

  .browser-titlebar {
    width: 100%;
    height: 2rem;
    background: none;
    border-bottom: 1px solid #ced4da;

  }

  .window-control {
    height: 0.75rem;
    width: 0.75rem;
    background: none;
    border-radius: 50%;
    margin-top: 0.65rem;
    margin-left: 0.65rem;
    position: absolute;
    border: 1px solid #ced4da;
  }

  .minimize {
    margin-left: 2rem;
  }

  .maximize {
    margin-left: 3.4rem;
  }

  .browser-viewport {
    padding: 2rem;

    h2, h3, h4, h5, h6 {
      text-transform: initial;
      margin-bottom: initial;
      font-weight: bold;
    }

    strong {
      color: #343a40;
    }
  }

}


.skew {
  transform: skew(0, -10deg);
}

.unskew {
  transform: skew(0, 10deg);
}

.button {
  background: none;
  border: 2px solid #212529;
  text-align: center;
  text-transform: uppercase;
  color: #212529;
  padding: 0.9rem 1.5rem 0.8rem 1.5rem;
  outline: none;
  cursor: pointer;

  &:hover {
    background: #212529;
    color: #f8f9fa;
  }
}

.button-light {
  border-color: #f8f9fa;
  color: #f8f9fa;

  &:hover {
    background: #f8f9fa;
    color: #212529;
  }
}

footer {
  margin-top: 9.2rem;
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 1rem;
  color: #868e96;

  a {
    text-decoration: none;
    color: #212529;
    // border-bottom: 1px solid #868e96;
  }
}

// @media screen and (max-width: 1365px) {

// }

@media screen and (max-width: 991px) {
  #intro {
    padding: 4rem;
    min-height: auto;

    h1 {
      font-size: 1.8rem;
      line-height: 4rem;
    }
  }

  #install, #instructions, #demo {
    padding: 8rem 2rem;
  }
}
